Source: ros-lunar-flexbe-app
Section: misc
Priority: extra
Maintainer: Philipp Schillinger <schillin@kth.se>
Build-Depends: debhelper (>= 9.0.0), curl, libcurl4-openssl-dev, ros-lunar-catkin, ros-lunar-rosunit
Homepage: http://ros.org/wiki/flexbe_app
Standards-Version: 3.9.2

Package: ros-lunar-flexbe-app
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lunar-actionlib, ros-lunar-genpy, ros-lunar-rospack, ros-lunar-rospy
Description: flexbe_app provides a user interface (editor + runtime control) for the FlexBE behavior engine.
